src/main/resources/template/ali_return_message_validate.xsd

<?xml version="1.0" encoding="GBK"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by () -->
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="alipay">
		<xs:complexType>
			<xs:all>
				<xs:element ref="is_success" />
				<xs:element ref="request" />
				<xs:element ref="response" />
				<xs:element ref="sign" />
				<xs:element ref="sign_type" />

			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="is_success">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="T" />
				<xs:enumeration value="F" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="param" minOccurs="4" maxOccurs="4">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="name">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:pattern value="_input_charset|service|partner|out_trade_no" />
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="response">
		<xs:complexType>
			<xs:all>
				<xs:element ref="trade" />
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="trade">
		<xs:complexType>
			<xs:all>
				<xs:element name="buyer_email">
					<xs:simpleType>
						<xs:restriction base="xs:string">
						<xs:minLength value="0" />
							<xs:maxLength value="1024" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="buyer_id">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="\d{16}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="trade_status">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="WAIT_BUYER_PAY" />
							<xs:enumeration value="WAIT_SELLER_SEND_GOODS" />
							<xs:enumeration value="WAIT_BUYER_CONFIRM_GOODS" />
							<xs:enumeration value="TRADE_FINISHED" />
							<xs:enumeration value="TRADE_CLOSED" />
							<xs:enumeration value="WAIT_SYS_CONFIRM_PAY" />
							<xs:enumeration value="WAIT_SYS_PAY_SELLER" />
							<xs:enumeration value="TRADE_REFUSE" />
							<xs:enumeration value="TRADE_REFUSE_DEALING" />
							<xs:enumeration value="TRADE_CANCEL" />
							<xs:enumeration value="TRADE_PENDING" />
							<xs:enumeration value="TRADE_SUCCESS" />
							<xs:enumeration value="BUYER_PRE_AUTH" />
							<xs:enumeration value="COD_WAIT_SELLER_SEND_GOODS" />
							<xs:enumeration value="COD_WAIT_BUYER_PAY" />
							<xs:enumeration value="COD_WAIT_SYS_PAY_SELLER" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="is_total_fee_adjust">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="T" />
							<xs:enumeration value="F" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="out_trade_no" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1" />
							<xs:maxLength value="32" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="trade_no">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="16" />
							<xs:maxLength value="64" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="subject">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1" />
							<xs:maxLength value="256" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="flag_trade_locked">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="0" />
							<xs:enumeration value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="body">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1" />
							<xs:maxLength value="1024" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="gmt_create">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern
								value="(\d{4})-(0\d{1}|1[0-2])-(0\d{1}|[12]\d{1}|3[01]) (0\d{1}|1\d{1}|2[0-3]):[0-5]\d{1}:([0-5]\d{1})"></xs:pattern>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="seller_email">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+"></xs:pattern>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="seller_id">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="2088(\d{12})"></xs:pattern>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="total_fee">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:minInclusive value="0" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="price" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:minInclusive value="0.01" />
							<xs:maxInclusive value="1000000.00" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="quantity" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:minInclusive value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="logistics_fee" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:minInclusive value="0.00" />
							<xs:maxInclusive value="1000000.00" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="coupon_discount" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:minInclusive value="0.00" />
							<xs:maxInclusive value="100.00" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="use_coupon" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="T" />
							<xs:enumeration value="F" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="discount" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:minInclusive value="0.00" />
							<xs:maxInclusive value="100.00" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="refund_status" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="WAIT_SELLER_AGREE" />
							<xs:enumeration value="SELLER_REFUSE_BUYER" />
							<xs:enumeration value="WAIT_BUYER_RETURN_GOODS" />
							<xs:enumeration value="WAIT_SELLER_CONFIRM_GOODS" />
							<xs:enumeration value="REFUND_SUCCESS" />
							<xs:enumeration value="REFUND_CLOSED" />
							<xs:enumeration value="WAIT_ALIPAY_REFUND" />
							<xs:enumeration value="ACTIVE_REFUND" />
							<xs:enumeration value="ALL_REFUND_STATUS" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="logistics_status" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="INITIAL_STATUS" />
							<xs:enumeration value="WAIT_LOGISTICS_FETCH_GOODS" />
							<xs:enumeration value="LOGISTICS_FAILURE" />
							<xs:enumeration value="GOODS_RECEIVED" />
							<xs:enumeration value="WAIT_RECEIVER_CONFIRM_GOODS" />
							<xs:enumeration value="LOGISTICS_SENDING" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="additional_trade_status" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="ZHIFUBAO_CONFIRM" />
							<xs:enumeration value="ZHIFUBAO_CANCEL_FP" />
							<xs:enumeration value="DAEMON_CONFIRM_CANCEL_PRE_AUTH" />
							<xs:enumeration value="DAEMON_CONFIRM_CLOSE" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="gmt_last_modified_time" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern
								value="(\d{4})-(0\d{1}|1[0-2])-(0\d{1}|[12]\d{1}|3[01]) (0\d{1}|1\d{1}|2[0-3]):[0-5]\d{1}:([0-5]\d{1})"></xs:pattern>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="gmt_payment" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern
								value="(\d{4})-(0\d{1}|1[0-2])-(0\d{1}|[12]\d{1}|3[01]) (0\d{1}|1\d{1}|2[0-3]):[0-5]\d{1}:([0-5]\d{1})"></xs:pattern>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="gmt_send_goods" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern
								value="(\d{4})-(0\d{1}|1[0-2])-(0\d{1}|[12]\d{1}|3[01]) (0\d{1}|1\d{1}|2[0-3]):[0-5]\d{1}:([0-5]\d{1})"></xs:pattern>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="gmt_refund" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<!-- <xs:pattern
								value="(\d{4})-(0\d{1}|1[0-2])-(0\d{1}|[12]\d{1}|3[01]) (0\d{1}|1\d{1}|2[0-3]):[0-5]\d{1}:([0-5]\d{1})"></xs:pattern> -->
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="time_out" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern
								value="(\d{4})-(0\d{1}|1[0-2])-(0\d{1}|[12]\d{1}|3[01]) (0\d{1}|1\d{1}|2[0-3]):[0-5]\d{1}:([0-5]\d{1})"></xs:pattern>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="gmt_close" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern
								value="(\d{4})-(0\d{1}|1[0-2])-(0\d{1}|[12]\d{1}|3[01]) (0\d{1}|1\d{1}|2[0-3]):[0-5]\d{1}:([0-5]\d{1})"></xs:pattern>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="gmt_logistics_modify" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern
								value="(\d{4})-(0\d{1}|1[0-2])-(0\d{1}|[12]\d{1}|3[01]) (0\d{1}|1\d{1}|2[0-3]):[0-5]\d{1}:([0-5]\d{1})"></xs:pattern>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="time_out_type" minOccurs="0">
					<!-- <xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="CLOSE_TRADE_ACTION" />
							<xs:enumeration value="ALLOW_REFUND_ACTION" />
							<xs:enumeration value="SUGGEST_REFUND_ACTION" />
							<xs:enumeration value="AUTO_FINISH_TRADE_ACTION" />
							<xs:enumeration value="AUTO_PAY_SELLER_ACTION" />
							<xs:enumeration value="CANCEL_PRE_AUTH_ACTION" />
							<xs:enumeration value="AGREE_REFUND_NO_ANSWER_ACTION" />
							<xs:enumeration value="CLOSE_REFUND_NO_ANSWER_ACTION" />
							<xs:enumeration value="CLOSE_REFUND_NO_RETURN_ACTION" />
							<xs:enumeration value="FINISH_REFUND_NO_CONFIRM_ACTION" />
							<xs:enumeration value="CLOSE_REFUND_NO_VOUCHER_ACTION" />
							<xs:enumeration value="FINISH_REFUND_NO_VOUCHER_ACTION" />
							<xs:enumeration value="FORCE_BUYER_UPLOAD_VOUCHER_ACTION" />
							<xs:enumeration value="FORCE_SELLER_UPLOAD_VOUCHER_ACTION" />
							<xs:enumeration value="REFUND_WAIT_TO_CHECK_ACTION" />
							<xs:enumeration value="finishFPAction" />
						</xs:restriction>
					</xs:simpleType> -->
					<xs:simpleType>
						<xs:restriction base="xs:string">
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="refund_fee" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:minInclusive value="0.00" />
							<xs:maxInclusive value="1000000.00" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="refund_flow_type" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="1" />
							<xs:enumeration value="2" />
							<xs:enumeration value="3" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="refund_id" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0" />
							<xs:maxLength value="24" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="refund_cash_fee" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:minInclusive value="0.00" />
							<xs:maxInclusive value="1000000.00" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="refund_coupon_fee" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:minInclusive value="0.00" />
							<xs:maxInclusive value="1000000.00" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="refund_agent_pay_fee" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:minInclusive value="0.00" />
							<xs:maxInclusive value="1000000.00" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="coupon_used_fee" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:minInclusive value="0.00" />
							<xs:maxInclusive value="1000000.00" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="to_buyer_fee" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:minInclusive value="0.00" />
							<xs:maxInclusive value="1000000.00" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="to_seller_fee" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:minInclusive value="0.00" />
							<xs:maxInclusive value="1000000.00" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="fund_bill_list" minOccurs="0">
					<xs:complexType>
						<xs:all>
							<xs:element name="FundBillDetail" minOccurs="0">
								<xs:complexType>
									<xs:all>
										<xs:element name="amount" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="channel" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="gmt_pay" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="out_biz_no" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="type" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:all>
								</xs:complexType>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="payment_type" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="[/d{1}|/d{2}]"></xs:pattern>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="operator_role" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="B" />
							<xs:enumeration value="S" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="sign">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1" />
				<xs:maxLength value="1024" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="sign_type">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="MD5" />
				<xs:enumeration value="RSA" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
