src/main/resources/template/wx_pay_result_notify_validate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="xml">
		<xs:complexType>
			<xs:all minOccurs="0">
				<xs:element ref="return_code"/>
				<xs:element ref="appid"/>
				<xs:element ref="mch_id"/>
				<xs:element name="device_info" minOccurs="0" />
				<xs:element ref="nonce_str"/>
				<xs:element ref="sign"/>
				<xs:element name="sign_type" minOccurs="0"/>
				<xs:element ref="result_code"/>
				<xs:element name="err_code" minOccurs="0"/>
				<xs:element name="err_code_des" minOccurs="0"/>
				<xs:element ref="openid"/>
				<xs:element name="is_subscribe" minOccurs="0"/>
				<xs:element ref="trade_type"/>
				<xs:element ref="bank_type"/>
				<xs:element ref="total_fee"/>
				<xs:element name="settlement_total_fee" minOccurs="0"/>
				<xs:element name="fee_type" minOccurs="0"/>
				<xs:element ref="cash_fee"/>
				<xs:element name="cash_fee_type" minOccurs="0"/>
				<xs:element name="coupon_fee" minOccurs="0"/>
				<xs:element name="coupon_fee_0" minOccurs="0"/>
<xs:element name="coupon_type_0" minOccurs="0"/>
<xs:element name="coupon_id_0" minOccurs="0"/>
<xs:element name="coupon_fee_1" minOccurs="0"/>
<xs:element name="coupon_type_1" minOccurs="0"/>
<xs:element name="coupon_id_1" minOccurs="0"/>
<xs:element name="coupon_fee_2" minOccurs="0"/>
<xs:element name="coupon_type_2" minOccurs="0"/>
<xs:element name="coupon_id_2" minOccurs="0"/>
<xs:element name="coupon_fee_3" minOccurs="0"/>
<xs:element name="coupon_type_3" minOccurs="0"/>
<xs:element name="coupon_id_3" minOccurs="0"/>
<xs:element name="coupon_fee_4" minOccurs="0"/>
<xs:element name="coupon_type_4" minOccurs="0"/>
<xs:element name="coupon_id_4" minOccurs="0"/>
<xs:element name="coupon_fee_5" minOccurs="0"/>
<xs:element name="coupon_type_5" minOccurs="0"/>
<xs:element name="coupon_id_5" minOccurs="0"/>
<xs:element name="coupon_fee_6" minOccurs="0"/>
<xs:element name="coupon_type_6" minOccurs="0"/>
<xs:element name="coupon_id_6" minOccurs="0"/>
<xs:element name="coupon_fee_7" minOccurs="0"/>
<xs:element name="coupon_type_7" minOccurs="0"/>
<xs:element name="coupon_id_7" minOccurs="0"/>
<xs:element name="coupon_fee_8" minOccurs="0"/>
<xs:element name="coupon_type_8" minOccurs="0"/>
<xs:element name="coupon_id_8" minOccurs="0"/>
<xs:element name="coupon_fee_9" minOccurs="0"/>
<xs:element name="coupon_type_9" minOccurs="0"/>
<xs:element name="coupon_id_9" minOccurs="0"/>
<xs:element name="coupon_fee_10" minOccurs="0"/>
<xs:element name="coupon_type_10" minOccurs="0"/>
<xs:element name="coupon_id_10" minOccurs="0"/>
<xs:element name="coupon_fee_11" minOccurs="0"/>
<xs:element name="coupon_type_11" minOccurs="0"/>
<xs:element name="coupon_id_11" minOccurs="0"/>
<xs:element name="coupon_fee_12" minOccurs="0"/>
<xs:element name="coupon_type_12" minOccurs="0"/>
<xs:element name="coupon_id_12" minOccurs="0"/>
<xs:element name="coupon_fee_13" minOccurs="0"/>
<xs:element name="coupon_type_13" minOccurs="0"/>
<xs:element name="coupon_id_13" minOccurs="0"/>
<xs:element name="coupon_fee_14" minOccurs="0"/>
<xs:element name="coupon_type_14" minOccurs="0"/>
<xs:element name="coupon_id_14" minOccurs="0"/>
<xs:element name="coupon_fee_15" minOccurs="0"/>
<xs:element name="coupon_type_15" minOccurs="0"/>
<xs:element name="coupon_id_15" minOccurs="0"/>
<xs:element name="coupon_fee_16" minOccurs="0"/>
<xs:element name="coupon_type_16" minOccurs="0"/>
<xs:element name="coupon_id_16" minOccurs="0"/>
<xs:element name="coupon_fee_17" minOccurs="0"/>
<xs:element name="coupon_type_17" minOccurs="0"/>
<xs:element name="coupon_id_17" minOccurs="0"/>
<xs:element name="coupon_fee_18" minOccurs="0"/>
<xs:element name="coupon_type_18" minOccurs="0"/>
<xs:element name="coupon_id_18" minOccurs="0"/>
<xs:element name="coupon_fee_19" minOccurs="0"/>
<xs:element name="coupon_type_19" minOccurs="0"/>
<xs:element name="coupon_id_19" minOccurs="0"/>
<xs:element name="coupon_fee_20" minOccurs="0"/>
<xs:element name="coupon_type_20" minOccurs="0"/>
<xs:element name="coupon_id_20" minOccurs="0"/>
<xs:element name="coupon_fee_21" minOccurs="0"/>
<xs:element name="coupon_type_21" minOccurs="0"/>
<xs:element name="coupon_id_21" minOccurs="0"/>
<xs:element name="coupon_fee_22" minOccurs="0"/>
<xs:element name="coupon_type_22" minOccurs="0"/>
<xs:element name="coupon_id_22" minOccurs="0"/>
<xs:element name="coupon_fee_23" minOccurs="0"/>
<xs:element name="coupon_type_23" minOccurs="0"/>
<xs:element name="coupon_id_23" minOccurs="0"/>
<xs:element name="coupon_fee_24" minOccurs="0"/>
<xs:element name="coupon_type_24" minOccurs="0"/>
<xs:element name="coupon_id_24" minOccurs="0"/>
<xs:element name="coupon_fee_25" minOccurs="0"/>
<xs:element name="coupon_type_25" minOccurs="0"/>
<xs:element name="coupon_id_25" minOccurs="0"/>
<xs:element name="coupon_fee_26" minOccurs="0"/>
<xs:element name="coupon_type_26" minOccurs="0"/>
<xs:element name="coupon_id_26" minOccurs="0"/>
<xs:element name="coupon_fee_27" minOccurs="0"/>
<xs:element name="coupon_type_27" minOccurs="0"/>
<xs:element name="coupon_id_27" minOccurs="0"/>
<xs:element name="coupon_fee_28" minOccurs="0"/>
<xs:element name="coupon_type_28" minOccurs="0"/>
<xs:element name="coupon_id_28" minOccurs="0"/>
<xs:element name="coupon_fee_29" minOccurs="0"/>
<xs:element name="coupon_type_29" minOccurs="0"/>
<xs:element name="coupon_id_29" minOccurs="0"/>
<xs:element name="coupon_fee_30" minOccurs="0"/>
<xs:element name="coupon_type_30" minOccurs="0"/>
<xs:element name="coupon_id_30" minOccurs="0"/>
<xs:element name="coupon_fee_31" minOccurs="0"/>
<xs:element name="coupon_type_31" minOccurs="0"/>
<xs:element name="coupon_id_31" minOccurs="0"/>
<xs:element name="coupon_fee_32" minOccurs="0"/>
<xs:element name="coupon_type_32" minOccurs="0"/>
<xs:element name="coupon_id_32" minOccurs="0"/>
<xs:element name="coupon_fee_33" minOccurs="0"/>
<xs:element name="coupon_type_33" minOccurs="0"/>
<xs:element name="coupon_id_33" minOccurs="0"/>
<xs:element name="coupon_fee_34" minOccurs="0"/>
<xs:element name="coupon_type_34" minOccurs="0"/>
<xs:element name="coupon_id_34" minOccurs="0"/>
<xs:element name="coupon_fee_35" minOccurs="0"/>
<xs:element name="coupon_type_35" minOccurs="0"/>
<xs:element name="coupon_id_35" minOccurs="0"/>
<xs:element name="coupon_fee_36" minOccurs="0"/>
<xs:element name="coupon_type_36" minOccurs="0"/>
<xs:element name="coupon_id_36" minOccurs="0"/>
<xs:element name="coupon_fee_37" minOccurs="0"/>
<xs:element name="coupon_type_37" minOccurs="0"/>
<xs:element name="coupon_id_37" minOccurs="0"/>
<xs:element name="coupon_fee_38" minOccurs="0"/>
<xs:element name="coupon_type_38" minOccurs="0"/>
<xs:element name="coupon_id_38" minOccurs="0"/>
<xs:element name="coupon_fee_39" minOccurs="0"/>
<xs:element name="coupon_type_39" minOccurs="0"/>
<xs:element name="coupon_id_39" minOccurs="0"/>
<xs:element name="coupon_fee_40" minOccurs="0"/>
<xs:element name="coupon_type_40" minOccurs="0"/>
<xs:element name="coupon_id_40" minOccurs="0"/>
<xs:element name="coupon_fee_41" minOccurs="0"/>
<xs:element name="coupon_type_41" minOccurs="0"/>
<xs:element name="coupon_id_41" minOccurs="0"/>
<xs:element name="coupon_fee_42" minOccurs="0"/>
<xs:element name="coupon_type_42" minOccurs="0"/>
<xs:element name="coupon_id_42" minOccurs="0"/>
<xs:element name="coupon_fee_43" minOccurs="0"/>
<xs:element name="coupon_type_43" minOccurs="0"/>
<xs:element name="coupon_id_43" minOccurs="0"/>
<xs:element name="coupon_fee_44" minOccurs="0"/>
<xs:element name="coupon_type_44" minOccurs="0"/>
<xs:element name="coupon_id_44" minOccurs="0"/>
<xs:element name="coupon_fee_45" minOccurs="0"/>
<xs:element name="coupon_type_45" minOccurs="0"/>
<xs:element name="coupon_id_45" minOccurs="0"/>
<xs:element name="coupon_fee_46" minOccurs="0"/>
<xs:element name="coupon_type_46" minOccurs="0"/>
<xs:element name="coupon_id_46" minOccurs="0"/>
<xs:element name="coupon_fee_47" minOccurs="0"/>
<xs:element name="coupon_type_47" minOccurs="0"/>
<xs:element name="coupon_id_47" minOccurs="0"/>
<xs:element name="coupon_fee_48" minOccurs="0"/>
<xs:element name="coupon_type_48" minOccurs="0"/>
<xs:element name="coupon_id_48" minOccurs="0"/>
<xs:element name="coupon_fee_49" minOccurs="0"/>
<xs:element name="coupon_type_49" minOccurs="0"/>
<xs:element name="coupon_id_49" minOccurs="0"/>
<xs:element name="coupon_fee_50" minOccurs="0"/>
<xs:element name="coupon_type_50" minOccurs="0"/>
<xs:element name="coupon_id_50" minOccurs="0"/>
<xs:element name="coupon_fee_51" minOccurs="0"/>
<xs:element name="coupon_type_51" minOccurs="0"/>
<xs:element name="coupon_id_51" minOccurs="0"/>
<xs:element name="coupon_fee_52" minOccurs="0"/>
<xs:element name="coupon_type_52" minOccurs="0"/>
<xs:element name="coupon_id_52" minOccurs="0"/>
<xs:element name="coupon_fee_53" minOccurs="0"/>
<xs:element name="coupon_type_53" minOccurs="0"/>
<xs:element name="coupon_id_53" minOccurs="0"/>
<xs:element name="coupon_fee_54" minOccurs="0"/>
<xs:element name="coupon_type_54" minOccurs="0"/>
<xs:element name="coupon_id_54" minOccurs="0"/>
<xs:element name="coupon_fee_55" minOccurs="0"/>
<xs:element name="coupon_type_55" minOccurs="0"/>
<xs:element name="coupon_id_55" minOccurs="0"/>
<xs:element name="coupon_fee_56" minOccurs="0"/>
<xs:element name="coupon_type_56" minOccurs="0"/>
<xs:element name="coupon_id_56" minOccurs="0"/>
<xs:element name="coupon_fee_57" minOccurs="0"/>
<xs:element name="coupon_type_57" minOccurs="0"/>
<xs:element name="coupon_id_57" minOccurs="0"/>
<xs:element name="coupon_fee_58" minOccurs="0"/>
<xs:element name="coupon_type_58" minOccurs="0"/>
<xs:element name="coupon_id_58" minOccurs="0"/>
<xs:element name="coupon_fee_59" minOccurs="0"/>
<xs:element name="coupon_type_59" minOccurs="0"/>
<xs:element name="coupon_id_59" minOccurs="0"/>
<xs:element name="coupon_fee_60" minOccurs="0"/>
<xs:element name="coupon_type_60" minOccurs="0"/>
<xs:element name="coupon_id_60" minOccurs="0"/>
<xs:element name="coupon_fee_61" minOccurs="0"/>
<xs:element name="coupon_type_61" minOccurs="0"/>
<xs:element name="coupon_id_61" minOccurs="0"/>
<xs:element name="coupon_fee_62" minOccurs="0"/>
<xs:element name="coupon_type_62" minOccurs="0"/>
<xs:element name="coupon_id_62" minOccurs="0"/>
<xs:element name="coupon_fee_63" minOccurs="0"/>
<xs:element name="coupon_type_63" minOccurs="0"/>
<xs:element name="coupon_id_63" minOccurs="0"/>
<xs:element name="coupon_fee_64" minOccurs="0"/>
<xs:element name="coupon_type_64" minOccurs="0"/>
<xs:element name="coupon_id_64" minOccurs="0"/>
<xs:element name="coupon_fee_65" minOccurs="0"/>
<xs:element name="coupon_type_65" minOccurs="0"/>
<xs:element name="coupon_id_65" minOccurs="0"/>
<xs:element name="coupon_fee_66" minOccurs="0"/>
<xs:element name="coupon_type_66" minOccurs="0"/>
<xs:element name="coupon_id_66" minOccurs="0"/>
<xs:element name="coupon_fee_67" minOccurs="0"/>
<xs:element name="coupon_type_67" minOccurs="0"/>
<xs:element name="coupon_id_67" minOccurs="0"/>
<xs:element name="coupon_fee_68" minOccurs="0"/>
<xs:element name="coupon_type_68" minOccurs="0"/>
<xs:element name="coupon_id_68" minOccurs="0"/>
<xs:element name="coupon_fee_69" minOccurs="0"/>
<xs:element name="coupon_type_69" minOccurs="0"/>
<xs:element name="coupon_id_69" minOccurs="0"/>
<xs:element name="coupon_fee_70" minOccurs="0"/>
<xs:element name="coupon_type_70" minOccurs="0"/>
<xs:element name="coupon_id_70" minOccurs="0"/>
<xs:element name="coupon_fee_71" minOccurs="0"/>
<xs:element name="coupon_type_71" minOccurs="0"/>
<xs:element name="coupon_id_71" minOccurs="0"/>
<xs:element name="coupon_fee_72" minOccurs="0"/>
<xs:element name="coupon_type_72" minOccurs="0"/>
<xs:element name="coupon_id_72" minOccurs="0"/>
<xs:element name="coupon_fee_73" minOccurs="0"/>
<xs:element name="coupon_type_73" minOccurs="0"/>
<xs:element name="coupon_id_73" minOccurs="0"/>
<xs:element name="coupon_fee_74" minOccurs="0"/>
<xs:element name="coupon_type_74" minOccurs="0"/>
<xs:element name="coupon_id_74" minOccurs="0"/>
<xs:element name="coupon_fee_75" minOccurs="0"/>
<xs:element name="coupon_type_75" minOccurs="0"/>
<xs:element name="coupon_id_75" minOccurs="0"/>
<xs:element name="coupon_fee_76" minOccurs="0"/>
<xs:element name="coupon_type_76" minOccurs="0"/>
<xs:element name="coupon_id_76" minOccurs="0"/>
<xs:element name="coupon_fee_77" minOccurs="0"/>
<xs:element name="coupon_type_77" minOccurs="0"/>
<xs:element name="coupon_id_77" minOccurs="0"/>
<xs:element name="coupon_fee_78" minOccurs="0"/>
<xs:element name="coupon_type_78" minOccurs="0"/>
<xs:element name="coupon_id_78" minOccurs="0"/>
<xs:element name="coupon_fee_79" minOccurs="0"/>
<xs:element name="coupon_type_79" minOccurs="0"/>
<xs:element name="coupon_id_79" minOccurs="0"/>
<xs:element name="coupon_fee_80" minOccurs="0"/>
<xs:element name="coupon_type_80" minOccurs="0"/>
<xs:element name="coupon_id_80" minOccurs="0"/>
<xs:element name="coupon_fee_81" minOccurs="0"/>
<xs:element name="coupon_type_81" minOccurs="0"/>
<xs:element name="coupon_id_81" minOccurs="0"/>
<xs:element name="coupon_fee_82" minOccurs="0"/>
<xs:element name="coupon_type_82" minOccurs="0"/>
<xs:element name="coupon_id_82" minOccurs="0"/>
<xs:element name="coupon_fee_83" minOccurs="0"/>
<xs:element name="coupon_type_83" minOccurs="0"/>
<xs:element name="coupon_id_83" minOccurs="0"/>
<xs:element name="coupon_fee_84" minOccurs="0"/>
<xs:element name="coupon_type_84" minOccurs="0"/>
<xs:element name="coupon_id_84" minOccurs="0"/>
<xs:element name="coupon_fee_85" minOccurs="0"/>
<xs:element name="coupon_type_85" minOccurs="0"/>
<xs:element name="coupon_id_85" minOccurs="0"/>
<xs:element name="coupon_fee_86" minOccurs="0"/>
<xs:element name="coupon_type_86" minOccurs="0"/>
<xs:element name="coupon_id_86" minOccurs="0"/>
<xs:element name="coupon_fee_87" minOccurs="0"/>
<xs:element name="coupon_type_87" minOccurs="0"/>
<xs:element name="coupon_id_87" minOccurs="0"/>
<xs:element name="coupon_fee_88" minOccurs="0"/>
<xs:element name="coupon_type_88" minOccurs="0"/>
<xs:element name="coupon_id_88" minOccurs="0"/>
<xs:element name="coupon_fee_89" minOccurs="0"/>
<xs:element name="coupon_type_89" minOccurs="0"/>
<xs:element name="coupon_id_89" minOccurs="0"/>
<xs:element name="coupon_fee_90" minOccurs="0"/>
<xs:element name="coupon_type_90" minOccurs="0"/>
<xs:element name="coupon_id_90" minOccurs="0"/>
<xs:element name="coupon_fee_91" minOccurs="0"/>
<xs:element name="coupon_type_91" minOccurs="0"/>
<xs:element name="coupon_id_91" minOccurs="0"/>
<xs:element name="coupon_fee_92" minOccurs="0"/>
<xs:element name="coupon_type_92" minOccurs="0"/>
<xs:element name="coupon_id_92" minOccurs="0"/>
<xs:element name="coupon_fee_93" minOccurs="0"/>
<xs:element name="coupon_type_93" minOccurs="0"/>
<xs:element name="coupon_id_93" minOccurs="0"/>
<xs:element name="coupon_fee_94" minOccurs="0"/>
<xs:element name="coupon_type_94" minOccurs="0"/>
<xs:element name="coupon_id_94" minOccurs="0"/>
<xs:element name="coupon_fee_95" minOccurs="0"/>
<xs:element name="coupon_type_95" minOccurs="0"/>
<xs:element name="coupon_id_95" minOccurs="0"/>
<xs:element name="coupon_fee_96" minOccurs="0"/>
<xs:element name="coupon_type_96" minOccurs="0"/>
<xs:element name="coupon_id_96" minOccurs="0"/>
<xs:element name="coupon_fee_97" minOccurs="0"/>
<xs:element name="coupon_type_97" minOccurs="0"/>
<xs:element name="coupon_id_97" minOccurs="0"/>
<xs:element name="coupon_fee_98" minOccurs="0"/>
<xs:element name="coupon_type_98" minOccurs="0"/>
<xs:element name="coupon_id_98" minOccurs="0"/>
<xs:element name="coupon_fee_99" minOccurs="0"/>
<xs:element name="coupon_type_99" minOccurs="0"/>
<xs:element name="coupon_id_99" minOccurs="0"/>
<xs:element name="coupon_fee_100" minOccurs="0"/>
<xs:element name="coupon_type_100" minOccurs="0"/>
<xs:element name="coupon_id_100" minOccurs="0"/>
				<xs:element name="coupon_count" minOccurs="0"/>
				<xs:element ref="transaction_id"/>
				<xs:element ref="out_trade_no"/>
				<xs:element ref="attach"/>
				<xs:element ref="time_end"/>
				<xs:element name="sub_mch_id" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="return_code">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="16"/>
				<xs:enumeration value="SUCCESS"/>
				<xs:enumeration value="FAIL"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="appid">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="32"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="mch_id">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="32"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="nonce_str">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="32"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="sign">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="32"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="result_code">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="16"/>
				<xs:enumeration value="SUCCESS"/>
				<xs:enumeration value="FAIL"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="openid">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="128"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="trade_type">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="16"/>
				<xs:enumeration value="JSAPI"/>
				<xs:enumeration value="NATIVE"/>
				<xs:enumeration value="APP"/>
				<xs:enumeration value="MWEB"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="bank_type">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="16"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="total_fee">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="cash_fee">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="transaction_id">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="32"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="out_trade_no">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="32"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="attach">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="128"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="time_end">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="14"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	
</xs:schema>