src/main/resources/template/wx_pay_validata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="xml">
		<xs:complexType>
			<xs:all>
				<xs:element ref="return_code" minOccurs="1"/>
				<xs:element ref="return_msg"/>
				<xs:element ref="appid" />
				<xs:element ref="mch_id"/>
				<xs:element ref="device_info"/>
				<xs:element ref="nonce_str"/>
				<xs:element ref="sign"/>
				<xs:element ref="result_code"/>
				<xs:element ref="err_code"/>
				<xs:element ref="err_code_des"/>
				<xs:element ref="trade_type"/>
				<xs:element ref="prepay_id"/>
				<xs:element ref="code_url"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="return_code">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="16"/>
				<xs:enumeration value="SUCCESS"/>
				<xs:enumeration value="FAIL"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="return_msg">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="128"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="appid">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="32"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="mch_id">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="32"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="device_info">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="32"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="nonce_str">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="32"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="sign">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="32"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
		<xs:element name="result_code">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="16"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
		<xs:element name="err_code">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="32"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
		<xs:element name="err_code_des">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="128"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
		<xs:element name="trade_type">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="16"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
		<xs:element name="prepay_id">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="64"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
		<xs:element name="code_url">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="64"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
